# .NET
backend/bin/
backend/obj/

# Node
frontend/node_modules/
frontend/dist/

# Environment
.env
.env.local
.DS_Store
.vscode

# database
software/demo/backend/appsettings.json
software/demo/backend/fencingclub.db
software/demo/backend/fencingclub.db-shm
software/demo/backend/fencingclub.db-wal